<div class="editor-patient-card-content"> 
    <div class="header-card">
        <span class="material-icons edit-button">
            favorite_border
        </span>
        <span>{{pressureMeasurement.systolic}}</span>
        <span>{{pressureMeasurement.diastolic}}</span>
        <span>{{pressureMeasurement.pulse}}</span>
    </div>
    <app-parameter-patient-card [(parameter)]="pressureMeasurement.systolic" [nameField]="'Systolic'"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="pressureMeasurement.diastolic" [nameField]="'Diastolic'"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="pressureMeasurement.pulse" [nameField]="'Pulse'"></app-parameter-patient-card>
</div>