/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #e9967a;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.component {
    display: block;
    position: relative;
    padding-bottom: 4px;
}

.edit-button {
    cursor: pointer;
}