<app-header></app-header>
<app-editor-patient-card class="component" 
                         *ngIf="view === 'PATIENT_CREATE_EDIT_VIEW'" 
                         [@isListAnimation]>
</app-editor-patient-card>
<app-patient-list class="component" 
                  *ngIf="view === 'PATIENT_LIST_VIEW'" 
                  [@isListAnimation]>
</app-patient-list>
<app-pressure-measurement-list class="component" 
                               *ngIf="view === 'PRESSURE_MEASUREMENT_LIST_VIEW'" 
                               [@isListAnimation]>
</app-pressure-measurement-list>
<app-pressure-measurement-create-view class="component" 
                                      *ngIf="view === 'PRESSURE_MEASUREMENT_CREATE_EDIT_VIEW'" 
                                      [@isListAnimation]>
</app-pressure-measurement-create-view>

