.header-card {
    display: grid;
    grid-template-columns: 48px 48px 1fr 1fr 48px 48px;
    grid-template-rows: 48px;
    grid-gap: 8px;
    align-items: center;
    justify-items: center;
}

.editor-patient-card-content {
    margin: 16px;
    border: 1px solid #00000030;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 8px;
}