<div class="editor-patient-card-content"> 
    <div class="header-card">
        <span class="material-icons edit-button">
            face
        </span>
        <span class="material-icons" *ngIf="patientCard.gender === 'FEMALE'" [@inAnimation]>
            female
        </span>
        <span class="material-icons" *ngIf="patientCard.gender === 'MALE'" [@inAnimation]>
            male
        </span>
        <span>{{patientCard.firstName}}</span>
        <span>{{patientCard.lastName}}</span>
    </div>
    <app-parameter-patient-card [(parameter)]="patientCard.firstName" [nameField]="'First Name'"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="patientCard.lastName" [nameField]="'Last Name'"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="patientCard.gender" [nameField]="'Gender'" [isSelector]="true"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="patientCard.age" [nameField]="'Age'"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="patientCard.weight" [nameField]="'Weight'"></app-parameter-patient-card>
    <app-parameter-patient-card [(parameter)]="patientCard.height" [nameField]="'Height'"></app-parameter-patient-card>  
</div>


