<div>
    <div *ngFor="let patientCard of patientCards" class="patient-list-element">
        <div (click)="changeCrad(patientCard)" class="content">
            <span class="material-icons icon-in-list" *ngIf="patientCard.gender === 'FEMALE'">
                female
            </span>
            <span class="material-icons icon-in-list" *ngIf="patientCard.gender === 'MALE'">
                male
            </span>
            <div class="text-in-list">
                {{patientCard.firstName}}
            </div>
            <div class="text-in-list">
                {{patientCard.lastName}}
            </div> 
        </div>
        <div>
            <span class="material-icons edit-button icon-in-list" (click)="goPressureMeasurementList(patientCard)">
                favorite_border
            </span>
            <span class="material-icons edit-button icon-in-list" (click)="delete(patientCard._id)">
                delete
            </span>
        </div>
    </div>
</div>  