.patient-list-element {
    display: grid;
    grid-template-columns: 1fr 76px;
    margin: 16px;
    border: 2px solid #9e9e9e;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.icon-in-list {
    margin: 4px 0 0 8px;
    color: #f50;
}

.text-in-list {
    text-align: center;
    margin-top: 8px;
    color: #615353
}

.content {
    display: grid;
    grid-template-columns: 48px 1fr 1fr;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.content:hover {
    background-color: #c2c2c2;
}