.parameter-container {
    display: grid;
    grid-template-columns: 1fr 48px;
    grid-gap: 8px;
    grid-template-rows: 48px;
    align-items: center;
    border-top: 1px solid #9e9e9e;
    margin: 0 8px;
}

.parameter-container div, .input-container input {
    padding-left: 8px;
}

.parameter-container:hover {
    background-color: #f2f7ef;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    margin: 0 8px;
}