<div> 
    <div class="parameter-container">
        <div>
            <span>{{nameField}}:</span> {{ parameter }}
        </div>
    </div>
    <div class="input-container" *ngIf="!isSelector" [@inOutAnimation]>
        <input [(ngModel)]="parameter" (ngModelChange)="onParameterChange($event)">
    </div>
    <div class="input-container" *ngIf="isSelector" [@inOutAnimation]>
        <select [(ngModel)]="parameter" (ngModelChange)="onParameterChange($event)">
            <option>MALE</option>
            <option>FEMALE</option>
        </select>
    </div>
</div>

