<div *ngFor="let pressureMeasurement of pressureMeasurementList" class="pressure-measurement-list-element">
    <div (click)="editPressureMeasurement(pressureMeasurement)" class="content">
        <span class="material-icons icon-in-list">
            favorite_border
        </span>
        <div class="text-in-list">
            {{pressureMeasurement.systolic}}
        </div>
        <div class="text-in-list">
            {{pressureMeasurement.diastolic}}
        </div>
        <div class="text-in-list">
            {{pressureMeasurement.pulse}}
        </div>
        <div class="text-in-list">
            {{pressureMeasurement.date}}
        </div>    
    </div>
    <div>
        <span class="material-icons edit-button icon-in-list" (click)="removePressureMeasurement(pressureMeasurement)">
            delete
        </span>
    </div>
</div>
