.header-content {
    display: flex;
    justify-content: space-between;
    height: 48px;
    background-color: #ff7f50;
    border-bottom: 2px solid #9e9e9e
}

.action-buttons-in-header {
    display: flex;
}

.header-text {
    font-size: x-large;
    text-align: center;
    margin: 14px 0 0 18px;
    color: #615353
}

.header-button {
    margin: 10px;
}

.create-button {
    background-color: #fff;
    border: 77%;
    border-radius: 50%;
    position: relative;
    bottom: 6px;
    padding-top: -3px;
    height: 38px;
    width: 38px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.create-button-icon {
    position: relative;
    left: 6px;
    top: 6px;
    color: #f50;
}