<div class="header-content">
    <div class="header-text">
        {{nameView}}
    </div>
    <div class="action-buttons-in-header">
        <div class="header-button edit-button create-button" 
             *ngIf="isAdd">
            <span class="material-icons edit-button create-button-icon"  
                  (click)="add()">
                add
            </span>
        </div>
        <div class="header-button edit-button create-button" 
             *ngIf="isDone">
            <span class="material-icons edit-button create-button-icon"  
                  (click)="done()">
                done
            </span>
        </div>
        <div class="header-button edit-button create-button" 
             *ngIf="isBack">
            <span class="material-icons edit-button create-button-icon" 
                  (click)="back()">
                arrow_back
            </span>
        </div>
    </div>
</div>
